[Desktop Entry]
Name=Lliurex-megaphone
GenericName=Lliurex megaphone
X-GNOME-FullName=Lliurex megaphone
Comment=Play your own voice when recording
Exec=lliurex-megaphone
Terminal=false
Type=Application
Icon=lliurex-megaphone
Name[ca_ES.UTF-8@valencia]=Lliurex-megaphone, Monitoritza el microfon de pulseaudio
Name[ca_ES@valencia]=Lliurex-megaphone, Monitoritza el microfon de pulseaudio
Name[ca]=Lliurex-megaphone, Monitoriza el microfono de pulseaudio
Name[es]=Monitoriza el micrófono de pulseaudio
GenericName[es]=Monitoriza el micrófono
Categories=GNOME;GTK;AudioVideo;LliureX-Players;
TryExec=/usr/bin/lliurex-megaphone
